@model SwimTimeTracker.ViewModels.AddRaceViewModel

<div>
    <h4>Enter time for @Model.Swimmer.FirstName</h4>
</div>

@*<!---DATE PICKER CODE- STILL WORKING ON IT.--->
@html.editorfor(model => model.datetime,
    new {htmlattributes = new { @class ="form-control date-picker"}})*@

@*<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        var items = "<option value ='0'>Select</option>";
        $("#EventID").html(items);
    });
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#StrokeId').change(function(){
            var url = '@Url.Content("~/")' + "Race/GetDistance";
            var ddlsource = "#EventID";
            $.getJSON(url, {EventID: $(ddlsource.val())}, function(data){
                var items ='';
                $('#EventId').empty();
                $.each(data, function (i, event){
                    items += "<option value='"+ event.value + "'>" +
                    eventId.text + "</option>";
                    $('#/EventID').html(items);
                });
            });
        });
    });
</script>*@

<!---BEGIN FORM--->
<form asp-controller="Race" asp-action="Add" asp-method="post">
        
    <!--Below script is for jquery datepicker.  Needs work. -->
    @*@Html.EditorFor(model => model.DateTime, new { htmlAttributes = new { @class = "form-control date-picker"}})
    
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <script type="text/javascript">
            $(funtion () {
                $(".date-picker").datepicker({
            dateFormat:'mm-dd-yyyy'
            });
            });
     </script>*@
    <!--ToDo: Change CSS to use .form-group label & .form-group select-->
    <input type="hidden" name="SwimmerID" value="@Model.Swimmer" />

    <div class="form-group">
        <label asp-for="mth">Month:</label>&nbsp;&nbsp;
        <label asp-for="day">Day:</label>&nbsp;&nbsp;
        <label asp-for="year">Year:</label>

        <br />
        <input class="form-control-2" asp-for="mth" />
        <span asp-validation-for="mth"></span>
        
        <input class="form-control-2" asp-for="day" />
        <span asp-validation-for="day"></span>

        <input class="form-control-3" asp-for="year" />
        <span asp-validation-for="year"></span>
    </div>
        <br />
        <!--ToDo: change order of select list items/ or set default values-->
    <div class="form-group select">
        <label asp-for="CourseID"></label>
        <select asp-for="CourseID" asp-items="Model.Courses"></select>
        <span asp-validation-for="CourseID"></span>

        <label asp-for="StrokeID"></label>
        <select asp-for="StrokeID" asp-items="Model.Strokes"></select>
        <span asp-validation-for="StrokeID"></span>
        
        <label asp-for="DistanceID"></label>
        <select asp-for="DistanceID" asp-items="Model.Distances"></select>
        <span asp-validation-for="DistanceID"></span>
    </div>
    <br/>

   <div class="form-group">
       
        <label asp-for="min">Min:</label>&nbsp;&nbsp;
        <label asp-for="sec">Sec:</label>&nbsp;&nbsp;
        <label asp-for="hund">Hunds:</label>

        <br />
        <input class="form-control-2" asp-for="min" />
        <span asp-validation-for="min"></span>
                
        <input class="form-control-2" asp-for="sec" />
        <span asp-validation-for="sec"></span>
                
        <input class="form-control-2" asp-for="hund" />
        <span asp-validation-for="hund"></span>
    </div>

    <input type="submit" value="Add Race" />

</form>
