
<h2>Enter Race:</h2>
<h3>Choose Event:</h3>
<form>
    <label>Course</label>
    <input/>
    <label>Stroke</label>
    <input/>
    <label>Distance</label>
    <input/>
    <label>Time</label>
    <input/>
    <label>Date</label>
    <input />
</form>

<!---Index by swimmer- Add Swimmer name, list of entered races.-->