@model IEnumerable<SwimTimeTracker.Models.Event>
 
<h3>All Events</h3>
<br />
<table class="table">

    @foreach (var event_ in  Model)
    {
        <tr>
            <td>@event_.Course.Abbr</td>
            <td>&nbsp;&nbsp;</td>
            <td>@event_.Stroke.Abbr</td>
            <td>&nbsp;&nbsp;</td>
            <td>@event_.Distance.Length</td>
        </tr>
     }
</table>
