@model IList<SwimTimeTracker.Models.Event>
 
<h1>@ViewBag.title</h1>

<h3>All Events</h3>
<br />
<table>

    @foreach (var event_ in  Model)
    {
        <tr>
            <td>@event_.Course.Abbr</td>
            <td>&nbsp;&nbsp;</td>
            <td>@event_.Stroke.Abbr</td>
            <td>&nbsp;&nbsp;</td>
            <td>@event_.Distance.Length</td>
        </tr>
     }
</table>
