@model IList<SwimTimeTracker.Models.Swimmer>

<h1>@ViewBag.title</h1>

<table class="table-swim">
    <tr>
        <th>Name</th>
       
        <th>Birth Date</th>
        
        <th>Gender</th>
    </tr>


    @foreach (var swimmer in Model)
    {
        <tr>
            <td><a asp-controller="Race" asp-action="Individual">@swimmer.FirstName&nbsp;@swimmer.LastName</a></td>
            
            <td>@swimmer.BirthMonth/@swimmer.BirthDay/@swimmer.BirthYear</td>
            
            <td>@swimmer.Gender</td>
        </tr>

    }
</table>

@if (Model.Count == 0)
{
    <p>No swimmers entered</p>
}
<br/>
<p><a asp-controller="Swimmer"  asp-action ="Add">Add new swimmer</a></p>
<br/>
<p>Remove swimmer</p>